@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
}

div.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5%;
}

.col {
    border-radius: 5px;
    padding: 20% 0% 0%;
    margin: 0% 5% 0%; 
    filter: drop-shadow(0 0 0.1rem black);
}

div.visitas {
    background-color: rgba(19, 142, 243, 0.781);
}

div.registrados {
    background-color: rgba(233, 154, 7, 0.863);
}

div.concretados {
    background-color: rgb(31, 153, 31);
}

div.cancelados {
    background-color: red;
}

div.visitas:hover, div.registrados:hover, div.concretados:hover, div.cancelados:hover {
    cursor: pointer;
}

div.visitas:hover {
    background-color: rgba(20, 112, 187, 0.486);
}

div.registrados:hover{
    background-color: rgba(187, 140, 53, 0.658);
}

div.concretados:hover{
    background-color: rgba(14, 122, 14, 0.548);
}

div.cancelados:hover{
    background-color: rgba(173, 9, 9, 0.664);
}

div.inner h3, div.inner + div {
    color: #fff;
} 

div.inner + div {
    text-align: center;
}

div.inner {
    margin-left: 5%;
}

div.inner h3 {
    font-size: 200%;
}

div.text {
    background-color: rgba(2, 2, 2, 0.185);
    padding: 2.5% 0% 2.5%;
}

h3, p {
    margin: 0%;
}

div.title {
    margin-left: 1.25%;
}

svg {
    margin: 0% 30% 0%;
}

div.strap {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    margin: 0% 5% 0.5%;
    background-color: #fff;
    padding: 2.5%;
    border-left: 0.2rem solid rgb(15, 117, 104);
    filter: drop-shadow(0 0 0.03rem black);
}

div.old-strap {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    margin: 0% 5% 0.5%;
    background-color: #fff;
    padding: 2.5%;
    filter: drop-shadow(0 0 0.03rem black);
}

img {
    max-width: 60%;
    height: auto;
    margin: auto;
}

p.bold-name {
    font-weight: bold;
}

.button-accept, .button-deny {
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10%;
}

.button-accept {
    background-color: #4CAF50;
}

.button-deny {
    background-color: red;
}

.button-accept:hover {
    background-color: #3e8e41;
}

.button-deny:hover {
    background-color: rgba(105, 4, 4, 0.808);
}

.button-accept:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-deny:active {
    background-color: rgba(105, 4, 4, 0.808);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }